/* stiliziranje početne stranice izaberipuma.html , dodavanje pozadinske slike */ 
html { 
  background: url("../slike/izaberipuma.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*stiliziranje dugmadi na početnoj strani */
.ph-button {

  border-width: 0px 0px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;	   
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;	
  font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
  font-weight: 700;	
  padding: 19px 39px 18px;
  font-size: 18px;

}
/*dugme puma-žene*/
.ph-btn-green {
	background-color: #5FCF80;

}


/*dugme puma- muškarci */
.ph-btn-blue {
    background-color: #3F8ABF;
}


.ph-float {
  
  float: left;
  width: 1300px;
  padding: 10px;  
  padding-top: 150px;  
  text-align: center;
}
